*~
*.swp
*.swo
values-secret*
.*.expected.yaml
pattern-vault.init
vault.init
super-linter.log
common/pattern-vault.init
secrets.md
authfile
kubeconfig
azure
ocp-install*
install-config.yaml
azure-env.sh
.openshift*
.DS_Store
openshift-install*
node_modules
.envrc
.ansible/
__pycache__/