---
apiVersion: "external-secrets.io/v1beta1"
kind: ExternalSecret
metadata: 
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: kbsres1-eso
  namespace: kbs-operating-system
spec:
  refreshInterval: 15s
  secretStoreRef:
    name: {{ .Values.secretStore.name }}
    kind: {{ .Values.secretStore.kind }}
  data:
  target:
    name: kbsres1
    template:
      type: Opaque
  dataFrom:
  - extract:
      key: {{ .Values.kbs.kbsres1 }}