additionalTrustBundlePolicy: Proxyonly
apiVersion: v1
baseDomain: {{ GUID }}.azure.redhatworkshops.io
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    azure:
      type: Standard_D8s_v5
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    azure:
      type: Standard_D8s_v5
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network_cidr }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network_cidr }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ service_network_cidr }}
platform:
  azure:
    baseDomainResourceGroupName: {{ RESOURCEGROUP }}
    cloudName: AzurePublicCloud
    outboundType: Loadbalancer
    region: {{ region }}
publish: External
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_key }}'
